input:focus {
	outline: none;
}

main {
	background-color: #f0f2f5;
	height: calc(100vh - 3.7rem);
	margin-top: 3.7rem;
	display: flex;
}

.alertBox {
	position: absolute;
	top: 10%;
	right: 1%;
}

.alertBox > * {
	margin-bottom: 0.5rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
	-ms-overflow-style: none;
	scrollbar-width: none; /* Firefox */
}

button {
	text-transform: inherit !important;
}

/* md styling */
@media (min-width: 768px) {
	main {
		height: calc(100vh - 4rem);
		margin-top: 4rem;
	}
}
